<div class="banner text-center" style=" background-image: url('http://vinepair.com/wp-content/uploads/2015/06/fake-cocktail-bar-liqueurs.jpg');">
  <h1>Brew your Awesomo Cocktails</h1>
  <%= link_to 'Add', new_cocktail_path, class: "btn btn-primary"  %>
</div>

<div class="padded">
  <div class="container">
    <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %>
      <%= link_to 'show', cocktail_path(cocktail), class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_cocktail_path(cocktail), class: "btn btn-primary" %>
      <%= link_to "Delete", cocktail_path(cocktail), class: "btn btn-danger",
      method: :delete,
      data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </div>
  </div>
